body{
    font-family: 'Montserrat', sans-serif !important;
}

.header{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
}

hr{
    margin-top: 0 !important;
}
.image{
   background-image: url(home.jpeg);
   height:75vh;
   width:75vw;
   background-position: center; 
   background-repeat: no-repeat; 
   background-size:cover ;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.name{
    font-size: 50px;
    margin-left: 12%;
    margin-top: 1%;
    align-self: center;
}

.courtney{
    font-weight: 400;
}

.topnav-right {
    align-self: center;
    margin-right: 12%;
  }

  a{
    text-decoration: none !important;
    color: black !important;
  }

  .topnav-right{
      font-size: 20px;
      padding-left: 35px;
      
  }

  a:hover {
    color: #00B0FF !important;
  }

  .social{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
  }

  .sm{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px ;
  margin-bottom: 15px;
  }

  .link{
    padding-left: 30px;
  }

  .end{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
  }

  .page-2{
      font-weight: 600;
    font-size: 60px;
    margin: 0;
    margin-left: 40%;
    margin-top: 5%;
  }

  .page-2-2{
font-weight: 300;
  font-size: 18px;
  margin: 0;
  margin-left: 40%;
  margin-bottom: 3%;
}

  .top-line{
        border: 2px solid black;
        width: 90%;
      }
 
      .item-a {
        grid-area: title;
      }
      .item-b {
        grid-area: publication;
      }
      .item-c {
        grid-area: description;
      }
      .item-d {
        grid-area: link;
      }

      .container {
          margin-top: 100px;
          margin-bottom: 100px;
        display: grid;
        grid-template-columns: 15% 20% 10% 40% 20%;
        grid-template-rows: auto;
        grid-template-areas: 
          ".title . description . "
          ". . . publication ."
          ". . . link .";
      }

      .title{
          font-size: 25px;
          line-height: 1.6;
      }

      .publication{
          color: gray;
          font-size: 20px ;
      }

      .description{
          line-height: 150%;
          font-size: 15px;
          line-height: 2;
      }

      .to-link{
          text-decoration: underline !important;
          color: blue !important;
          font-size: 15px;
      }

      .mid-line{
            width: 80%;
        }
    .home-link{
        color: blue !important;
        margin-bottom: 50px;
    }
    
    .about-container{
        display: flex;
    justify-content: center;
    align-items: center; 
    margin: 60px;
    }

    .about-img{
background-image: url(me.jpeg);
height: 450px;
width: 400px;
background-position: center;
background-size: cover;
    }

    .space{
        width: 60px;
    }

    .about-text{
        height: 450px;
        width: 600px;
padding-top: 20px;
padding-bottom: 50px;
line-height: 1.6;
font-size: 16px;
    }

.work-text{
    margin: 0, auto;
    margin-top: 3%;
margin-right: 10%;
margin-left: 10%;
line-height: 2;
}

.blue-text{
    font-weight: 700;
color: #00B0FF;
font-style: italic;
}

.sign{
    font-size: 25px !important;
    font-weight: 500;
    margin-left: 30%;
}


.btn-color{
    background-color: #00B0FF !important;
}

.box{
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 50px;
   width: 50%; 
}

.contact-me{
 width: 50%;
 padding-top:50px;
 margin: 0 auto;
 font-size: 20px;
 line-height: 2;
 
}

.list{
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center; 
    list-style-type: none;
    font-size: 25px;
    padding:10px;
    padding-top: 50px;
}


@media (max-width: 1400px){

  .name{
    font-size: 35px;
}

  .topnav-right{
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
}

@media (max-width: 1100px){
  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.name, .page-2, .page-3{
    margin: 0 auto !important;
    margin-top: 1%;
    align-content: center;
}

.image{
  margin-bottom: 25px;
  height: 70vh;
}

.page-2-2{
  display:none;
}

.topnav-right{
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0px !important;
  margin-top:20px;
  padding-bottom: 15px;
}

.link{
  padding-left: 20px;
  padding-right: 20px;
}

.about-text{
  font-size: 14px;
}

.box, .contact-me{
width: 70%;
}

.list{
  font-size: 18px;
}

}


@media (max-width: 900px){
.top-line{
  border: 1px solid black;
}

  .container {
    margin-top: 60px;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;
  grid-template-areas: 
    ".title . "
    ". description . "
    ". publication ."
    ". link .";
}

.about-container{
  flex-direction: column;
  margin: 0 auto !important;
}

.about-img{
  height: 35vh;
  width: 90vw;
  margin-top: 10px;
}

.about-text{
  width: 90%;
  height: 100%;
}
}

@media(max-width: 625px){

  .name{
    font-size: 30px;
  }

  .image{
    margin-bottom: 25px;
    height: 70vh;
    width: 100vw;
  }

.page-2, .page-3{
    margin: 0 auto !important;
    font-size: 40px !important;
    margin-top: 1%;
    align-content: center;
}

.about{
  font-size: 25px !important;
}

.link{
  font-size:12px;
}

.container{
  margin-top: 20px;
}

.title{
  font-size: 20px;
}

.description{
  font-size: 12px;
}

.publication{
  font-size: 15px;
}

.box{
  width: 85%;
  margin-top: 20px;
}

.work-text{
  font-size: 12px;
  margin-right: 5%;
  margin-left: 5%;
}

.sign{
  font-size: 15px !important;
}

.contact-me{
  font-size: 14px;
  width: 85%;
}

.list{
  font-size: 15px;
  align-items: flex-start;
}

.delete{
  display: none;
}

.end{
  font-size: 12px;
}

}

@media(max-width: 400px){

  .name{
    font-size: 25px !important;
  }

  .link{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .page-3, .about{
font-size: 25px !important;
  }

  .about{
    font-size: 22px !important;
  }
}

