
.top-about{
    display: flex;
    align-content: center;
    margin: 1% 0 5% 0;
}

.blue-block{
 background-color: #86EEFC;
 height: 400px;
 width: 600px;
 margin: 0 0 0 0;
}

.photo-of-me{
    background-image: url(../Images/about-me.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 600px;
    margin: -60% 0 0 8%;
}

.text-and-arrows{
    display:flex;
    flex-direction: column;
    margin: 20% 15% 0 15%;
}


.text-about-me{
    font-size:28px;
    font-weight: 500;
  
}

.arrow{
    background-image: url(../Images/arrows-black-01.png);
    height: 100px;
    width: 100px;
    margin: 15% 0 0 0;
    background-size: cover;
    background-position: center;
    align-self: center;
}

.about-section{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0% 0 0% 0;
}

.about-text{
   width: 40%;
   margin: 0% 5% 0 5%;
}

.art-image1{
   background-image: url(../Images/art.jpg);
   background-size: contain;
   background-position: center;
   height: 300px;
   width:600px;

object-fit: fill
}

.art-image2{
    background-image: url(../Images/design.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    width:600px;
}
 .art-image3{
    background-image: url(../Images/UX.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 600px;
 }

 @media only screen and (max-width: 1025px) {
    .body{
        width: 100vw; 
    }

    .top-about{
        display: flex;
        align-content: center;
        flex-direction: column;
        margin: 0 0 5% 0;
    }
    
    .blue-block{
        background-color: #86EEFC;
        height: 60vh;
        width: 80vw;
        margin: 3vh 0 0 0;
       }
       
       .photo-of-me{
           background-size: cover;
           background-size: cover;
           background-position: center;
           height: 60vh;
           width: 80vw;
           margin: -55vh 0 0 5vw;
       }


.text-about-me{
    font-size:28px;
    font-weight: 500;
  
}

.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% 0 0% 0;
 }

 .arrow{
    display: none;
}

 .about-text{
    width: 85%;
    margin: 2% 5% 2% 5%;
    font-size: 20px;
 }}