body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
}

a {
    color: black;
}


a:hover {
    color: #81E5F3;
    text-decoration: none;
}

.fab {
    color: white;
    padding: 8px;
    font-size: 20px;
}

button{
    background-color: #949494; 
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: 600;
    border: none;
    -webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.35); 
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.35);
}

.bg-gradient-dark{
    color: #2A2A2A;
}

.btn {
    background-color: #283fe5;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight:600;
    border-radius: 5px;
}

.btn:hover {
    background-color: #88D5E9;
}

.blackTop {
    background-color: rgb(26, 26, 26);
    height: 50px;
}

.top-line{
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
  }


  .work-header{
   font-size: 35px;
   font-weight: 600;
   margin-left: 20%;
   margin-top: 3vw;
  }

.top-social {
    float: right;
    padding-top: .5%;
    margin-right: 25px;
}

.navbar {
    width: 90%;
    margin: 0 auto;
}

.logo {
    background-image: url(../Images/Logo\ 2-01.png);
    height: 65px;
    width: 500px;
    margin: 1% 0 1% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}


.nav-item {
    margin: 0 15px 0 15px;
}

.nav-link{
    font-size: 18px;
}



.hero, .jumbotron {
    background-image: url('../Images/Cover-bl.jpg');
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
    height: 90vh; 
    margin-bottom: 50px;
    color:white;
  }
  
  .jum-words{
      margin-right: 50px !important;
      text-align: center;
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
  }
  
   .line1, .line2{
       
  font-size: 80px;
  font-weight:300;
  font-family: 'Yantramanav', sans-serif;
  text-shadow: 3px 2px 5px rgba(17,17,17,0.74);
   }
  
   .line1{
       margin-top:8vh;
       margin-right: 100px;
   }
  
   .line2{
       margin-top:-50px;
  }

  
  
   .popImage{
       height:300px;
       width:300px;
       margin-top:100px;
       border-radius: 400px;
       align-content: center;
       margin: 0 auto;
       margin-top:100px;
       margin-left: 40px;
       margin-right: 40px;
  
   }
  
   .img1 {
  background-image: url('../Images/Mystic-Forest.png');
  background-size: cover;
  background-position: bottom;
  
   }
  
   
  .img2 {
      background-image: url('../Images/Botanical-Gardens.png');
      background-size: cover;
      background-position: bottom;
      
       }
  
  .img3 {
  background-image: url('../Images/Video.jpeg');
   background-size: cover;
   background-position: bottom;
          
  }
  
  .picWords{
  font-size: 30px;
  font-weight:500;
  text-align: center;
  margin-top: 10px;
  
  }

  .pic-discribe{
      width:300px;
      margin: 0 auto;
     font-size: 16px;
     font-weight: 400;
  }
  
  .price-link{
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
    font-size: 20px;
  }
  
  
   .image-yt{
      background-image: url('../Images/Writing.jpg');
      background-position: center ;
       height: 65vh;
  
   }
  
  .youtube-text{
      color: white;
      text-align: center;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
     
      
  }
  
  .bordered{
      border: 2px solid white;
      margin: 15vh 25% 20px;
      padding: 50px 0 75px;
  }
  
  .head{
      font-size: 40px;
      line-height:60px;
     
  }
  
  .underline{
    border-bottom: 1px solid gray;
    display: inline-block;
    line-height: 1;
    font-weight: 900;
  }
  
  .small-text{
  font-size: 25px;
  font-family: 'lato', sans-serif;
  padding-top:32px;
  }
  
  .youtube{
      color: rgb(130, 222, 255);
  }
  
  .lg-yt{
      margin-top: 10px;
      background-color:rgb(130, 222, 255);
  
  }
  
.pricing{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}

.work-text{
    margin: 0, auto;
    margin-top: 3%;
margin-right: 10%;
margin-left: 10%;
line-height: 2;
}

.blue-text{
    font-weight: 700;
color: #00B0FF;
font-style: italic;
}

.sign{
    font-size: 25px !important;
    font-weight: 500;
    margin-left: 30%;
}


.btn-color{
    background-color: #00B0FF !important;
}

.box{
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 50px;
   width: 50%; 
}

.contact-me{
 width: 50%;
 text-align: center;
 padding-top:50px;
 margin: 0 auto;
 font-size: 18px;
 font-weight: 500;
 line-height: 2;
 
}

.price1{
    display: block;
    widows: 100%;
}

.price2{
display:none;
}

.price3{
display:none;
}

.note{
 width: 50%;
 margin: 0 auto;
 font-size: 15px;
 line-height: 2;
 margin-bottom: 140px;
}

  .container {
    margin: 1% auto 5% auto;
    max-width: fit-content!important;
    max-width: -moz-fit-content!important;
}

.col {
    text-align: center;
    margin: 20px;
}

.col-nomargin {
    text-align: center;
    margin: 0;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}

.card-style {
    height: 370px; 
    width: 550px; 
    border-radius: 5px;
    display: inline-block;
}

.card-image {
    height: 300px;
    object-fit: cover;
}

.blue-footer{
background-color: #81E5F3;
height:70px;
color: darkblue;
font-size: 30px;
font-weight: 400;
display: flex;
align-content: center;
justify-content: center;
margin: auto !important;
}


.footer {
    width: 100%;
    height: auto;
    line-height: 30px;
    background-color: rgb(26, 26, 26);
    padding-bottom: 20px;
   
}

.top-foot{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 15% 0 15%;
    padding-top: 50px;
}

.title-foot {
    font-weight: 700;
    color: #92EFF7;
    font-size: 30px;
    margin-bottom: 20px;
    
}

.right, .left{ 
 color: white;
}

.fa-phone, .fa-envelope{
    padding: 0 15px 0 0;
    
    line-height: inherit;
}

.contact{
    display: flex;
    align-content: center;
}

.words{
    align-self: center;
    vertical-align: super;
    text-align: left;
}

.left{
font-size: 15px;
font-family: 'Montserrat', sans-serif;
}

.right{
    font-size:20px;
    line-height: 40px;
    padding: 0 0 0 10%;
}
.foot-line {
    background-color: white;
    margin: 30px auto 3px auto;
    width: 90%;
    height: 1px;
}

.codedWithLove {
    color: white;
    margin-left: 5%;
    margin-top: 15px;
    font-size: 12px;
}

@media (max-width: 1600px){
    .jum-words {
        margin-right: 0px !important;
      }
      .line1, .line2{
          font-size: 60px;
           }

       .head{
         font-size: 27px;
        line-height:40px;
           
        }
        .bordered{
            border: 2px solid white;
            margin: 15vh 25% 20px;
            padding: 20px 0 25px;
        }

        .small-text{
            font-size: 20px;
            font-family: 'lato', sans-serif;
            padding-top:32px;
            }

    .top-line{
        width:85vw;
    }
}


@media (max-width: 1200px){

    .jum-words {
      margin-right: 0px !important;
    }
    .line1, .line2{
       
        font-size: 50px;
        font-weight:300;
        font-family: 'Yantramanav', sans-serif;
        text-shadow: 3px 2px 5px rgba(17,17,17,0.74);
         }
        
         .line1{
             margin-top:8vh;
         }
        
         .line2{
             margin-top:-50px;
        }

        .top-line{
            width: 70vw;
        }

        .price1{
            display:none;
            }

            .price2{
                display: block;
                width:100%;
            }
               
            .price3{
            display:none;
            }
    }

@media (max-width: 710px){

    .hero, .jumbotron {
        background-image: url('../Images/Cover-bl.jpg');
        background-size: cover;
        background-position-y: top;
        background-position-x: right;
        height: 45vh; 
        color:white;
      }
    
    .jum-words {
      margin-right: 0px !important;
      text-align: center;
      flex-direction: column;
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
  }

    .line1, .line2{
       
        font-size: 45px;
        font-weight:300;
        font-family: 'Yantramanav', sans-serif;
        text-shadow: 3px 2px 5px rgba(17,17,17,0.74);
         }
        
         .line1{
             margin-top:30px;
         }
        
         .line2{
             margin-top: 10px ;
        }

        .popImage{
            
            margin-top:40px;
            
       
        }

        .price-link{
            display: none;
          }

          .image-yt{
          margin-top: 70px;
          }
          

        .bordered{
            border: 2px solid white;
            margin: 10vh 15% 20px;
            padding: 20px 0 25px;
        }
        .container {
            justify-content: center;
            align-content: center;
            margin: 0;
        }
        .card-style {
            width: 80vw;
            border-radius: 5px;
            display: inline-block;
        }
        .card-image {
            height: 36vh;
            object-fit: cover;
        }

        .contact-me{
            width: 80%;
            text-align: center;
            padding-top:30px;
            margin: 0 auto;
            font-size: 18px;
            font-weight: 500;
           }

        .price1{
            display:none;
            }
            
            .price2{
            display:none;
            }

            .price3{
                display: block;
                width:100%;

            }

            
    .blue-footer{
        background-color: #81E5F3;
        height:70px;
        color: darkblue;
        font-size: 17px;
        font-weight: 400;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: auto !important;
        }
            
}

/*Iphone*/
@media (max-width: 625px){

    .jum-words {
      margin-right: 0px !important;
      margin-left: auto !important;
      margin: auto !important;
    }
        
         .line1{
             margin-top:10vh;
             margin-right: 0px;
         }
        
}



@media (max-width: 625px) {
    .body {
        width: 100vw;
    }
    .blackTop {
        background-color: #1f1f1f;
        height: 40px;
    }
    .blackTop {
        display: none;
    }
    .navbar {
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }
    .logo {
        background-image: url(../Images/Name\ logo-01.png);
        height: 25px;
        width: 200px;
        margin: 1% 0 1% 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
        flex-shrink: 0!important;
    }
    .jumbo-text {
        font-size: 45px;
        text-align: center;
        margin: 10% 5% 10% 5%;
        font-weight: 700;
        line-height: 65px;
    }
    .jumbo-button {
        padding: 15px 50px 15px 50px;
        font-size: 25px;
        min-width: 90%;
        max-width: 500px;
        margin: 0 auto;
        align-self: center;
        justify-content: center;
    }
   
    .workSk {
        height: auto;
        background-color: #1f1f1f;
        padding: 50px 2px 50px 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: white;
    }
    .work-header {
        align-content: center;
        text-align: center;
        font-size: 30px;
        margin: auto;
        margin-bottom: 30px;
    }
    .dates {
        width: 200px;
        font-weight: 400;
    }
    .workEx, .skills {
        Width: 90%;
        text-align: left;
        padding: 50px 0 50px 0;
        align-self: center;
    }
    .work-header {
        align-content: center;
        text-align: center;
        font-size: 25px;
    }
    .dates {
        width: 150px;
        font-weight: 400;
    }
    .vl {
        display: none;
    }
    .blog {
        margin: 2% 5% 2% 5%;
        height: 200px;
    }
    .check-it-out {
        padding: 15px 50px 15px 50px;
        font-size: 25px;
        margin: 0 auto;
        align-self: center;
        justify-content: center;
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }

        

    .top{
        object-position: top;
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        color: white;
    }
    .contact-stuff {
        align-self: center;
    }
    .line {
        display: none;
    }
.right{
    display: none;
}

    .foot-line{
        margin: 0 auto;
    }
}
