
.top-about{
    display: flex;
    align-content: center;
    margin: 1% 0 5% 0;
}

.blue-block{
 background-color: #86EEFC;
 height: 60vh;
 width: 50vw;
 margin: 0 0 0 0;
}

.photo-of-me{
    background-image: url(../Images/about-me.jpg);
    background-size: cover;
    background-position: center;
    height: 65vh;
    width: 40vw;
    margin: -55% 0 0 25%;
}

.text-and-arrows{
    display:flex;
    flex-direction: column;
    margin: 20% 15% 0 25%;
}


.text-about-me{
    font-size:28px;
    font-weight: 500;
  
}

.arrow{
    background-image: url(../Images/arrows-black-01.png);
    height: 100px;
    width: 100px;
    margin: 15% 0 0 0;
    background-size: cover;
    background-position: center;
    align-self: center;
}

.about-section{
   margin: 0 auto;
   width:60vw;
   font-size: 18px;
   line-height: 2;
}

.about-text{
   width: 40%;
   margin: 0% 5% 0 5%;
}


 @media only screen and (max-width: 1025px) {
    .body{
        width: 100vw; 
    }

    .top-about{
        display: flex;
        align-content: center;
        flex-direction: column;
        margin: 0 0 5% 0;
    }
    
    .blue-block{
        background-color: #86EEFC;
        height: 60vh;
        width: 80vw;
        margin: 3vh 0 0 0;
       }
       
       .photo-of-me{
           background-size: cover;
           background-size: cover;
           background-position: center;
           height: 60vh;
           width: 80vw;
           margin: -55vh 0 0 5vw;
       }


.text-about-me{
    font-size:28px;
    font-weight: 500;
  
}

.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0% 0 0% 0;
 }

 .arrow{
    display: none;
}

 .about-text{
    width: 85%;
    margin: 2% 5% 2% 5%;
    font-size: 20px;
 }}